{% extends "base_user.html" %}
{% block user_fr %}
<div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>
		{% for myorder in orderlist%}
			<ul class="order_list_th w978 clearfix">
				<li class="col01">{{myorder.order_time|date:'Y-m-d G-i-s'}}</li>
				<li class="col02"><a href="{% url 'myorder:myorder_info' myorder.id %}">订单号：{{myorder.id}}</a></li>
				<li class="col02">总价：{{myorder.order_total}}</li>
				{% if myorder.status %}
					<li class="col02 stress">已支付</li>
					<li class="col03 stress"><a href="">查看物流</a></li>
				{% else %}
					<li class="col02 stress">未支付</li>
					<li class="col03 stress"><a href="">去支付</a></li>
				{% endif %}
			</ul>
		{% endfor %}

		<div class="pagenation">
            {% if orderlist.has_previous %}
            <a href="{% url 'myorder:myorder_list' orderlist.previous_page_number %}" class="active">上一页</a>
            {% else %}
            <a href="" >上一页</a>
            {% endif %}
            {% for pindex in orderlist.paginator.page_range %}
                {% if pindex == orderlist.number %}
                  <a href="" >{{ pindex }} </a>
                {% else %}
                   <a href="{% url 'myorder:myorder_list'  pindex %}" class="active">{{ pindex }} </a>
                {% endif %}
            {% endfor %}
            {% if orderlist.has_next %}
            <a href="{% url 'myorder:myorder_list' orderlist.next_page_number %}" class="active">下一页</a>
            {% else %}
            <a href="" >下一页</a>
            {% endif %}
        </div>
</div>

{% endblock user_fr %}

